
.container{
    text-align: center;
    background-color: cadetblue;
}

.container h1{
    padding: 1rem 0;
}

.formulario{
    display: flex;
    justify-content: center;
    height: 2.1rem;
    margin: 0 1rem;
}

.add{
    width: 100%;
    font-size: 1.4rem;
    border: none;
}

.btn-submit{
    position: absolute;
    height: 2.1rem;
    border: none;
    right: 4%;
    background-color: #fff;
    font-size: 1.3rem;
}

h2{
    margin-bottom: 1.5rem;
}

.task{
    padding-bottom: 2rem;
}

